body{
  background-color:rgb(253, 252, 252);
  margin: 0;
  padding: 0;
}
/* Menu*/
nav {
  position:fixed;
  height: 15%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  opacity: 0.7;
  font-size: 130%;
  background-color: rgb(243, 235, 235);
  font-family: Montserrat,sans-serif;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 3%;
  
  overflow: hidden;
}

nav>ul>li {
  
  display: inline;
  align-items: center;
  padding: 5%;
  font-weight: bold;
}

li > a{
  text-decoration: none;
  color: black;
}

/*Main Content*/

h1{
  font-size: 300%;  
}

.grid {
  overflow: auto;
  display: grid;
  grid-template-rows: 1000px 1000px 1000px 1000px 1000px;

  grid-template-areas: "homePage", "aboutPage", "resumePage", "workPage","contactPage";
}

.homePage {
  grid-area: auto;
  background-color: aqua;
}
.aboutPage {
  grid-area: auto;
  background-color: blue;
}
.resumePage {
  grid-area: auto;
  background-color: blueviolet;
}
.workPage {
  grid-area: auto;
  background-color: burlywood;
}
.contactPage {
  grid-area: auto;
  background-color: crimson;
}

.Page {
  width: 100%;
  padding: 0%;
  margin: 0%;
}