body,main{
        padding: 0%;
        margin: 0%; 
}
.grid {
    overflow:auto;
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: "aboutMePage", "belgiumPage", "contactPage";

  }
.aboutMePage
{       
        height:1000px;
        width: 100%;
        background-color: rgba(220, 211, 230, 1);
        padding: 0%;
        margin: 0%;

}
.belgiumPage
{       
        height:1000px;
        width: 100%;
        background-color:rgba(220, 211, 230, 1);


}
.contactPage
{       
        height:1000px;
        width: 100%;
        background-color: rgba(220, 211, 230, 1);


}
.right{
        position: fixed;
        top: 200px;
        right: 0px;
        text-align: center;
}
ul {
        margin-top: 110px;
        padding-right: 0px;
}
li {
        list-style-type: none;
        padding-top: 10px;
}
.rightMenu {
  display: table-cell;
  width: 105px;
  height: 70px;
  transition: width 1s;
  border-radius: 2px;
  border: none;
  color: grey;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px grey;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding-top: 20px;;
}

.rightMenu:hover{
        opacity: 7;
        box-shadow: 0px 2px 11px grey;
}
